{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %} Bienvenue !{% endblock %}

{% block body %}


    <div class="col-sm-6" style="text-align: center">
        <div>
            <h2 style="text-align: center">Formulaire d'inscription</h2>
        </div>
        <br>
            {{ form_start(form)}}
            {{ form_row(form.username, { 'label': 'Pseudonyme' }) }}
            {{ form_row(form.firstname, { 'label': 'Prénom' }) }}
            {{ form_row(form.lastname, { 'label': 'Nom' }) }}
            {{ form_row(form.email, { 'label': 'Email' }) }}
            {{ form_row(form.phonenumber, { 'label': 'Téléphone' }) }}
            {{ form_row(form.password, { 'label': 'Mot de Passe' }) }}
            {{ form_row(form.password, { 'label': 'Mot de Passe' }) }}
        <div style="text-align: center">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Enregistrer'}) }}
            <input type="submit" value="Annuler" class="btn btn-secondary" />
        </div>
        {{ form_end(form)}}

    </div>

{% endblock %}
