{% extends 'base.html.twig'%}

{% block body %}
    <div class="container">
        <h2 class="text-center">Les annonces du jour...</h2>
        <br>
        <table class="table table-striped">
            <thead>
            <tr class="text-center">
                <th>Date</th>
                <th>Catégorie</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Région</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Vendeur</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
                {% for ad in ads %}
                <tr onclick="if(confirm('Merci de vous connectez pour plus de détails !!!')) { window.location = '{{ path('login') }}' }">
                    <td class="text-primary">{{ ad.creationdate|date('d F Y') }}</td>
                    <td>{{ ad.category }}</td>
                    <td class="text-info">{{ ad.title }}</td>
                    <td>{{ ad.description }}</td>
                    <td class="text-danger">{{ ad.price }} EUR</td>
                    <td>{{ ad.country }}</td>
                    {% if is_granted('ROLE_USER') %}
                    <td>{{ ad.author.username }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
